html, body {
    /* background-color: #ffffff; */
    background-color: #363636;
    color: #000000;
    margin: 0;
    padding: 0 1px;
    height: 100%;
}

#app {
    min-width: 500px;
    max-width: 1000px;

    margin-left: auto;
    margin-right: auto;
    /* margin-bottom: 1px; */

    height: 100%;
    display: flex;
    flex-flow: column;
}

.header {

    /* display: none; */
    position: relative;

    background-color: #004080;
    color: #eeeeee;
    width: auto;
    margin-bottom: 6px;
    /* border: 1px solid #999999; */
    display: flex;
    flex-flow: row;
    text-align: center;
    font-family: "Lato", Helvetica, Arial, sans-serif;
}

.main {
    width: 100%;
    /* height: 100%; */
    flex: 1;
    overflow: hidden;

}

.main > div {
    height: 100%;
    /* border: 1px solid #999999; */
}

.footer {
    display: none;
    min-height: 30px;
}

#username-div, #logout, .sidepanel {
    /* width: 160px; */
    width: 20%;
}

#app-title {
    flex: 1;
}

h3 {
    margin: 16px 0;
}

#userName {
    color: darkcyan;
}

#logout {
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    color: #eeeeee;
    font-size: 20px;
    padding: 10px 16px;
    line-height: 23px;
    font-weight: bold;
    position: relative;
    display: block;
    box-sizing: border-box;
    text-decoration: none;
    transition: 0.25s;
}

a:hover {
    color: darkcyan;
}

a:focus {
    outline: none;
}



.list-header {
    text-align: center;
    background-color: #bbbbbb;
    padding: 1px 0 2px 0;
    /* height: 18px; */
    height: 22px;
    line-height: 22px;
}

.list {
    flex: 1;
    padding: 2px;
    text-align: center;
    overflow-y: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    direction: ltr;
    display: block;
    font-size: 16px;
    line-height: 30px;
}

li {
    text-align: left;
    transition: 0.1s;
    color: #eeeeee;
}

li:hover {
    cursor: pointer;
    color: darkcyan;
}

.user {
    font-family: Consolas, monospace;
    font-weight: bold;
    text-decoration: none;
    padding-left: 4px;
    display: block;
    position: relative;
}

.u-active {
    float: right; 
    margin-right: 4px;
}

.u-label {
    
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.u-label:hover {
    white-space: normal;
    word-wrap: break-word;
    
}

.dot {
    background-color: rgb(66,183,42);
    display: inline-block;
    border-radius: 50%;
    width: 8px;
    height: 8px;
}

.offline {
    display: none;
}



.sidepanel {
    display: flex;
    flex-flow: column;
    background-color: #555555;
    /* background-color: #004080; */
}

/* conversations (rightside panel) styling */
#convs-list {
    margin-top: 4px;
}

.conv {
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #eeeeee;
    border-bottom: 1px solid gray;
    margin-bottom: 8px;
    padding-bottom: 4px;
    text-align: left;
    height: 38px;
}

.conv:hover {
    cursor: pointer;
}

.cactive, .conv:hover {
    background-color: #696969;
}

.cupper, .cdemo {
    padding-left: 2px;
}

.cupper {
    display: flex;
    flex-flow: row;
    min-height: 20px;
}

.cdemo {
    font-size: 12px;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

}

.cuser, .author-div {
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.ccountr {
    margin-left: 3px;
    font-weight: bold;
    flex: 1;
}

.ctime {
    font-size: 11px;
    height: 15px;
    margin-left: 2px;
    text-align: right;
}


/* users (leftside panel) styling */
#users-div {
    float: left;
    margin-right: 6px;
}

#user-name-label {
    max-width: 150px;
    background-color: #004080;
    float: left;
}

/* main conv window styles */
#conversation {
    overflow: hidden;
    background-color: #dddddd;
    display: flex;
    flex-flow: column;
}

#conversation > div {
    width: inherit;
}



#scrollable {
    flex: 1;
    overflow-y: scroll;
    padding: 2px 3px;
    
    display: flex;
    flex-flow: column;
}

#input-panel {
    max-height: 70px;
    min-height: 36px;
    display: flex;
    flex-flow: row;
    background-color: #aaaaaa;
}


.spreader {
    flex: 1;
}

.messages {
    /* min-height: 24px;   */
    font-family: sans-serif;
    font-size: 14px;
}

/* message styling */
.message {
    display: flex;
    flex-flow: row;
    min-height: 20px;
    padding-top: 3px;
    border-top: 1px solid #bbbbbb;
    margin: 6px 1px 0px 1px;
}

.time-info {
    text-align: center;
    line-height: 20px;
    margin-top: 8px;
}

.author-div {
    width: 66px;
    border-right: 1px solid #bbbbbb;
}

.author-div:hover {
    cursor: pointer;
}

.owner {
    color: darkcyan;
}

.content-div {
    flex: 1;
    padding: 0 3px;

    overflow: hidden;

    word-wrap: break-word;  
}

.time-div {
    /* width: 38px; */
    min-width: 26px;
    padding-left: 4px;
    color: #444444;
    border-left: 1px solid #bbbbbb;
    text-align: right;
    font-size: 12px;
    line-height: 20px;

    /* display: none; */
}

.time {
    margin-left: 1px;
}

/* inside input-panel styling */
#textarea-container {
    margin: 2px;
    position: relative;
    flex: 1;

    overflow: hidden;

    font-family: sans-serif;
    font-size: 14px;
    line-height: 22px;
}

#button-container {
    width: 50px;
    margin: 2px;
}

#msg-btn {
    width: 100%;
    height: 100%;
    border: 1px solid gray;
}

/* conv list window styles */
#convs-div {
    margin-left: 6px;
    float: right;
}

.hiding {
    display: none;
}

#text {
    /* background-color: #bbbbbb; */
    background-color: #e3e3e3;
    border: 1px solid gray;
    overflow-y: hidden;
    height: calc(100% - 10px);
    padding: 4px;

    word-wrap: break-word;
}

/* #text:read-write {

} */

#text:focus {
    border-color: #004080;
}

#placeholder {
    position: absolute;
    background-color: transparent;
    pointer-events: none;
    padding: 5px;
    color: #909090;
}

