<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5">
    <title>New Messanger</title>
    <link href="/css/messanger.css" rel="stylesheet">
    <!-- <link href="../static/css/messanger.css" rel="stylesheet"> -->
</head>
<body>

<noscript>
    <h2>Sorry! Your browser doesn't support Javascript<br>
    This web application requires JS, to work at all</h2>
</noscript>

<div id="app">
    <div class="header">
        <div id="username-div">
            <h3 th:utext="${userName}" id="userName">User Login</h3>
        </div>
        <div id="app-title">
            <h3>Messanger Web App</h3>
        </div>
        <div id="logout">
            <a href="/logout">Logout</a>
        </div>
    </div>

    <div class="main">

        <div id="users-div" class="sidepanel">
            <div class="list-header">
                <label>Active Users: </label>
                <label id="active-count">0</label>
            </div>
            <div class="list">
                <ul id="users-list" >
                        <!-- <li class="user">
                            <div class="u-active offline">
                                <span class="dot"></span>
                            </div>
                            <div class="u-label">Login</div>
                        </li> -->
                </ul>
            </div>
        </div>

        <div id="convs-div" class="sidepanel">

            <div class="list-header">
                <label>Conversations</label>
            </div>

            <div id="convs-list" class="list"></div>
        </div>

        <div id="conversation">
            <div id="header-panel" class="list-header">
                <label id="conv-partner"></label>
            </div>

            <div id="scrollable">
                <div class="spreader"></div>
                <div id="messages-container">
                    <!-- <div class="messages">
                        <div class="time-info">22:22</div>
                        <div class="message">
                            <div class="author-div">Login</div>
                            <div class="content-div">
                                    Sample content
                            </div>
                            <div class="time-div hiding">22:22</div>
                        </div>
                    </div> -->
                </div>
            </div>
            <div id="input-panel">
                <div id="textarea-container">
                    <div id="placeholder" contenteditable="true">Write your message</div>
                    <div id="text"></div>
                </div>
                <div id="button-container" class="hiding">
                    <button id="msg-btn" class="button" onclick="sendMessage()">Send</button>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
    </div>
</div>



<script src="/webjars/sockjs-client/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/stomp.min.js"></script>
<script src="/lib/jquery-3.3.1.slim.min.js"></script>
<!-- <script src="../static/lib/jquery-3.3.1.slim.min.js"></script> -->

<script src="/js/messanger-look.js"></script>
<!-- <script src="../static/js/messanger-look.js"></script> -->
<script src="/js/messanger-behavior.js"></script>
<!-- <script src="../static/js/messanger-behavior.js"></script> -->
<script src="/js/conv-window.js"></script>
<!-- <script src="../static/js/conv-window.js"></script> -->

<script src="/js/sound.js"></script>
<!-- <script src="../static/js/sound.js"></script> -->

</body>
</html>
