<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Password recovery</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/lib/jquery-3.3.1.slim.min.js"></script>
    <!-- <script src="../static/js/register-valid.js"></script> -->
</head>
<body>

        <form th:action="@{/login}" method="get">
            <button class="btn btn-md btn-warning btn-block" type="Submit">Go To Login Page</button>
        </form>
        
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <form autocomplete="off" th:action="@{/resetPassword}"
                         method="POST" class="form-horizontal">
                        <h2>Forgot my password</h2>
                        <div class="form-group">
                            <div class="col-sm-9">
                                <input type="email" id="email" name="email" th:placeholder="Email"
                                       class="form-control" required/>
                                <!-- <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                                       class="validation-message"></label> -->
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-9">
                                <button type="submit" class="btn btn-primary btn-block">Reset</button>
                            </div>
                        </div>
        
                        <!-- <h2><span class="text-success" th:utext="${successMessage}"></span></h2> -->
                        <div allign="center">
                                <h2 class="text-danger" th:utext="${errorMessage}"
                                style="font-size: 14; color: rgb(223, 23, 23);">ErrorMessage</h2>
                        </div>
                        <div allign="center">
                                <h2 class="text-success" th:utext="${successMessage}"
                                style="font-size: 14; color: rgb(18, 138, 16);">SuccesMessage</h2>
                        </div>
        
                    </form>
                </div>
            </div>
        </div>

</body>

</html>