<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Set new password</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/lib/jquery-3.3.1.slim.min.js"></script>
    <!-- <script src="../static/js/register-valid.js"></script> -->
</head>
<body>

        <form th:action="@{/login}" method="get">
            <button class="btn btn-md btn-warning btn-block" type="Submit">Go To Login Page</button>
        </form>
        
        <div class="container" style="max-width: 400px">
            <form th:action="@{/changePassword}" method="POST" class="form-signin">
                <h2 class="form-header">Provide new password</h2>
                <br/>
                <input type="password" id="password" name="password"
                placeholder="Password" class="form-control"/> <br/>
                <input type="password" id="match-password" name="match-password"
                placeholder="Retype password" class="form-control"/> <br/>
        
                <div id="global-error" class="hiding" allign="center">
                    <p>Passwords dont't match!</p>
                </div>
                <div allign="center"><span class="text-success" th:utext="${successMessage}"></span></div>
                
                <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Submit" type="Submit"
                        th:text="Submit">Submit</button>
            </form>
        </div>

</body>

</html>